* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 25px 25px 10px 25px;
  font-family: "Roboto", sans-serif;
}

#logoblue {
  display: block;
  width: 120px;
}

/* sign in container */
.signin-container-align {
  display: flex;
  justify-content: center;
}

.container-signin {
  width: 340px;
  margin: 10px 0 0;
  padding: 20px 18px 18px;
  background-color: white;
  box-shadow: 0 0 7px 1px rgba(179, 179, 179, 0.7);
  border-radius: 7px;
}

h1 {
  font-size: 1.8rem;
}

.message {
  margin-top: 8px;
  margin-bottom: 18px;
  font-size: 0.9rem;
}

#user,
#password {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 1px solid #626565;
  border-radius: 5px;
}

#user,
#password::placeholder {
  font-size: 1.1rem;
}

#user {
  margin-bottom: 15px;
}

#password {
  margin-bottom: 13px;
}

/* password input field */
.password-input {
  width: 100%;
  position: relative;
  display: inline-block;
}

#toggleBtn {
  position: absolute;
  top: 35%;
  font-size: 15px;
  font-weight: bold;
  color: #0a66c3;
  right: 15px;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.forgot-password {
  color: #0a66c3;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.forgot-password:hover {
  color: #0000ee;
}

.signin-button,
.signin-apple {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.signin-button {
  margin-top: 20px;
  background-color: #0a66c3;
  color: white;
  font-size: 1rem;
  border: none;
}

.signin-apple {
  background-color: #fff;
  color: #626565;
  font-size: 1rem;
  border: 1px solid #626565;
}

.fa {
  color: #000;
  margin-right: 10px;
  font-size: 20px !important;
}

/* or horizontal line */
.container-or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 11px 6px;
}
.line {
  flex-grow: 1;
  height: 1.5px;
  background-color: lightgray;
}

#or {
  font-size: 15px;
  color: #626565;
  margin: 0 10px;
}

/* join now code */
.join {
  display: flex;
  justify-content: center;
}

.join-link {
  font-size: 1rem;
  margin: 30px 0 0 0;
}

.join-now {
  color: #0a66c3;
  font-weight: bold;
  text-decoration: none;
}

.join-now:hover {
  color: #0000ee;
}

/* footer css */
.foot-align {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.footer {
  width: 930px;
  display: flex;
  gap: 13px;
  justify-content: center;
}

.copy-container {
  display: flex;
  padding-top: 3.5px;
}

.footer-link {
  color: #626565;
  font-size: 14px;
  text-decoration: none;
}

.footer-link:hover {
  color: #0000ee;
  text-decoration: underline;
}

#logoblack {
  width: 70px;
  margin-right: 5px;
}

#copyright {
  display: inline;
  color: #626565;
  font-size: 14px;
}

#lang {
  border: none;
  color: #626565;
  font-size: 14px;
}

.lang-select #lang:focus {
  outline: none;
}

.lang-select #lang:hover {
  color: #0000ee;
  text-decoration: underline;
}
